:root {
    --light-text-color:white;
    --dark-text-color:black;
    --light-link-color: #34ffff;
}

.wrapper {
    background-color: #1f1f1f;
    min-height: 100%;
    padding: 10px 15px 5px 15px;
}

body, html{
    height: 100%;
    margin: 0px 5vw 0px 5vw;
    background-color: #101010;
    color: var(--light-text-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--light-link-color)
}

.menubar {
    background-color: #050505;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.toplinks {
    color: var(--light-text-color);
    text-decoration: none;
    padding: 10px;
}
.toplinks:hover {
    color: var(--dark-text-color);
    background-color: #f9f9f9;
    border: solid black 2px;
}
